<div class="intro"> 
    <div class='container'>
        <h1 class="intro"> Peer Tutoring 2020 </h1>
        <p> Sign up to be a tutor today! </p>
        <a href="/tutors/new" class="signup-btn">Sign Up Here</a>
    </div>
</div>
<div>
    <a href="/login" class="float"><p class="btn-link">Admin</p></a>
</div>