@import "variables.css";
@import "fonts.css";
@import "header.css";
@import "../images/asclogo.jpg";
:root {
    font-family: 'Noto Serif', serif;
    font-size: 20px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    margin: auto;
    max-width: 1200px;
    margin-bottom: 3rem;
}