<h2> Find Tutors </h2>
<form action="/tutors" method="GET">
    <label>Search</label>
    <input type="text" name="name" value="<%= searchOptions.name %>">
    <button type="submit">Search</button>
</form>
<br>
<% tutors.forEach(tutor => { %>
    <div>
        <a href="/tutors/<%= tutor.id %>"> <%= tutor.name %> </a>
    </div>

<% }) %>