<h2>New Tutor</h2>
<form action="/tutors" method="POST">
    <fieldset>
        <%- include("_form_fields") %>
            <a href="/tutors">Cancel</a>
            <button type="submit">Create</button>
    </fieldset>
</form>