<header>
    <nav>
        <a href="/"> Academic Success Coalition </a>
        <ul>
            <li><a href="/tutors"> Tutors </a></li>
            <li><a href="/tutors/new"> Add Tutor</a></li>
        </ul>
    </nav>
</header>