<header>
    <div  class='container'>
        <nav class="header-nav">
            <a class="header-title" href="/"> <img src="..../public/css/images/asclogo.jpg" alt="ASC" height="50px" width="50px"> </a>
            <ul>
                <li><a href="/tutors"> Tutors </a></li>
                <li><a href="/announcements"> Announcements </a></li>
                <li><a href="/resources"> Resources </a></li>
                <li><a href="/about"> About Us </a></li>
                <li><a href="/tutors/new"> Sign Up</a></li>
            </ul>
        </nav>
    </div>
</header>